{% extends "base.html" %}

{% block sidebar_class %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block content %}
{% set blog = get_section(path="blog/_index.md") %}
{% set sorted_posts = blog.pages[0:3] %}
<div class="landing-page">
  <!-- Hero Section -->
  <section class="hero">
    <div class="hero-content">
      <h1 class="hero-title">Gray Unicorn</h1>
      <p class="hero-subtitle">Random projects</p>
      <p class="hero-description">
        This is a randomly updated collection of blog posts about projects I have done (some still doing) over the years.
      </p>
<!-- 
      <hr class="hero-rule" />
      <div class="hero-actions">
        <a href="#demo" class="btn btn-primary">View Demo</a>
        <a href="#installation" class="btn btn-secondary">Get Started</a>
      </div>
 -->
    </div>
  </section>

</div>
{% endblock content %}
